<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{title_filter}}</h4>
            </div>
            <div class="panel-body">
              <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <app-locations></app-locations>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <app-lanes></app-lanes>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <app-lane-types></app-lane-types>
                    </div>
              </div>
              <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label for="fromCreationDate"> Select From Date: </label>
                        <input type="date" class="form-control"
                          id="fromCreationDate" (change)="onChangeFromDate($event.target.value)" /> <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label for="toCreationDate"> Select To Date: </label>
                        <input type="date" class="form-control"
                          data-provider="datepicker" id="toCreationDate" (change)="onChangeToDate($event.target.value)" />
                    </div>
                  </div>
              </div>
              <div class="row" style="text-align: right;">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <app-flter-transaction-button></app-flter-transaction-button>
                    </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>{{title_export}}</h4>
            </div>
            <div class="panel-body" style="text-align: center;">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                  style="text-align: center;">
                  <app-export-pdf></app-export-pdf>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                  style="text-align: center;">
                    <app-export-excel></app-export-excel>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
