<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>


<script type="text/javascript">
  $(document).ready(function(){
    $("#export-pdf").click(function(e){
        e.preventDefault();
    });

    $("#export-excel").click(function(e){
      e.preventDefault();
    });
  });
</script>

<div class="jumbotron" style="text-align: center;">
  <h2>
    {{ title }}
  </h2>
</div>
<div class="container-fluid">
    <app-transactions-filter></app-transactions-filter>
  <router-outlet></router-outlet>
</div>
